* {
  box-sizing: border-box;
}
body {
  background: #333;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* .game-container in tutorial */
.main {
  position: relative;
  height: 198px; /*tutorial shows 198px for gameboy styling*/
  width: 325px; /*tutorial shows 352px for gameboy styling*/
  margin: 0 auto;
  margin-top: 20px;
  outline: 1px dotted white;

  transform: scale(2.5) translateY(50%); /*scale enlarges for visablity, translate y shifts .main down 50% on y axis for alignment*/
}

.game-container canvas {
  image-rendering: pixelated;
}
